In [3]:
import pandas as pd

df = pd.read_csv("csv_files/combined_customers.csv")
df.rename(columns={'customer_id': '커스터머ID', 'age': '나이'}, inplace=True)
print(df)

     커스터머ID         name    나이                    email  \
0         1    Customer1   NaN    customer1@example.com
1         2    Customer2   NaN    customer2@example.com
2         3    Customer3   NaN    customer3@example.com
3         4    Customer4   NaN    customer4@example.com
4         5    Customer5   NaN    customer5@example.com
..      ...          ...   ...                      ...
495     396  Customer396  54.0  customer396@example.com
496     397  Customer397  57.0  customer397@example.com
497     398  Customer398  68.0  customer398@example.com
498     399  Customer399  29.0  customer399@example.com
499     400  Customer400  57.0  customer400@example.com

                      join_date
0    2023-01-27 06:52:22.275679
1    2023-07-15 06:52:22.275698
2    2023-01-24 06:52:22.275704
3    2023-03-25 06:52:22.275709
4    2023-03-25 06:52:22.275713
..                          ...
495  2023-02-09 06:54:12.151607
496  2023-03-25 06:54:12.151613
497  2023-02-19 06:54:12.151618
498  2023-07-18 06:54:12.151624
499  2023-01-22 06:54:12.151629

[500 rows x 5 columns]

In [6]:
import pandas as pd

df = pd.read_csv("csv_files/combined_customers.csv")
df.columns = ['커스터머ID', '이름', '나이', '이메일', '가입일시']
print(df)

     커스터머ID           이름    나이                      이메일  \
0         1    Customer1   NaN    customer1@example.com
1         2    Customer2   NaN    customer2@example.com
2         3    Customer3   NaN    customer3@example.com
3         4    Customer4   NaN    customer4@example.com
4         5    Customer5   NaN    customer5@example.com
..      ...          ...   ...                      ...
495     396  Customer396  54.0  customer396@example.com
496     397  Customer397  57.0  customer397@example.com
497     398  Customer398  68.0  customer398@example.com
498     399  Customer399  29.0  customer399@example.com
499     400  Customer400  57.0  customer400@example.com

                           가입일시
0    2023-01-27 06:52:22.275679
1    2023-07-15 06:52:22.275698
2    2023-01-24 06:52:22.275704
3    2023-03-25 06:52:22.275709
4    2023-03-25 06:52:22.275713
..                          ...
495  2023-02-09 06:54:12.151607
496  2023-03-25 06:54:12.151613
497  2023-02-19 06:54:12.151618
498  2023-07-18 06:54:12.151624
499  2023-01-22 06:54:12.151629

[500 rows x 5 columns]

In [7]:
import pandas as pd

df = pd.read_csv("csv_files/combined_customers.csv")
df.rename(index={0: '첫번째', 1: '두번째', 2: '세번째'}, inplace=True)

print(df)

     customer_id         name   age                    email  \
첫번째            1    Customer1   NaN    customer1@example.com
두번째            2    Customer2   NaN    customer2@example.com
세번째            3    Customer3   NaN    customer3@example.com
3              4    Customer4   NaN    customer4@example.com
4              5    Customer5   NaN    customer5@example.com
..           ...          ...   ...                      ...
495          396  Customer396  54.0  customer396@example.com
496          397  Customer397  57.0  customer397@example.com
497          398  Customer398  68.0  customer398@example.com
498          399  Customer399  29.0  customer399@example.com
499          400  Customer400  57.0  customer400@example.com

                      join_date
첫번째  2023-01-27 06:52:22.275679
두번째  2023-07-15 06:52:22.275698
세번째  2023-01-24 06:52:22.275704
3    2023-03-25 06:52:22.275709
4    2023-03-25 06:52:22.275713
..                          ...
495  2023-02-09 06:54:12.151607
496  2023-03-25 06:54:12.151613
497  2023-02-19 06:54:12.151618
498  2023-07-18 06:54:12.151624
499  2023-01-22 06:54:12.151629

[500 rows x 5 columns]

In [9]:
import pandas as pd

def index_gen(num):
    return '커스터머_' + str(num)

df = pd.read_csv("csv_files/combined_customers.csv")
df.index = df.index.map(index_gen)

print(df)

          customer_id         name   age                    email  \
커스터머_0              1    Customer1   NaN    customer1@example.com
커스터머_1              2    Customer2   NaN    customer2@example.com
커스터머_2              3    Customer3   NaN    customer3@example.com
커스터머_3              4    Customer4   NaN    customer4@example.com
커스터머_4              5    Customer5   NaN    customer5@example.com
...               ...          ...   ...                      ...
커스터머_495          396  Customer396  54.0  customer396@example.com
커스터머_496          397  Customer397  57.0  customer397@example.com
커스터머_497          398  Customer398  68.0  customer398@example.com
커스터머_498          399  Customer399  29.0  customer399@example.com
커스터머_499          400  Customer400  57.0  customer400@example.com

                           join_date
커스터머_0    2023-01-27 06:52:22.275679
커스터머_1    2023-07-15 06:52:22.275698
커스터머_2    2023-01-24 06:52:22.275704
커스터머_3    2023-03-25 06:52:22.275709
커스터머_4    2023-03-25 06:52:22.275713
...                              ...
커스터머_495  2023-02-09 06:54:12.151607
커스터머_496  2023-03-25 06:54:12.151613
커스터머_497  2023-02-19 06:54:12.151618
커스터머_498  2023-07-18 06:54:12.151624
커스터머_499  2023-01-22 06:54:12.151629

[500 rows x 5 columns]