In [2]:
from sqlalchemy import create_engine
import pandas as pd

# MySQL 연결 문자열: 'mysql+pymysql://{user}:{pw}@{host}:{port}/{db}'
engine = create_engine('mysql+pymysql://root@localhost:3306/fdc_dm?charset=utf8')

# 데이터베이스에 연결
connection = engine.connect()

df = pd.read_csv('csv_files/employees_data.csv')
df.to_sql('employees', connection, if_exists='append', index=False)

1000

In [4]:
from sqlalchemy import create_engine, text
import pandas as pd
engine = create_engine('mysql+pymysql://root@localhost:3306/fdc_dm?charset=utf8')
connection = engine.connect()
result = connection.execute(text('SELECT * FROM employees;'))
df = pd.read_sql('SELECT * FROM employees;', connection);
# 결과 출력
# for row in result:
#     print(row)
print(df)

       id  age  salary  score category  on_leave
0       1   18  101071     70        D         0
1       2   21   71622      6        C         0
2       3   21   53616     48        A         0
3       4   57  136213      9        D         0
4       5   27   94799     28        D         0
..    ...  ...     ...    ...      ...       ...
995   996   31  124035     18        B         1
996   997   37  122332     74        C         1
997   998   50   38913     15        B         1
998   999   41  106016     88        A         0
999  1000   22  111263     64        C         1

[1000 rows x 6 columns]

In [5]:
import pandas as pd

df = pd.read_csv("csv_files/employees_data.csv")
filtered_df = df[(df['salary'] >= 100000) & (df['category'].isin(['A', 'D']))]


print(filtered_df)

      id  age  salary  score category  on_leave
0      1   18  101071     70        D     False
3      4   57  136213      9        D     False
13    14   19  138137     64        A     False
16    17   41  140302      2        D      True
19    20   55  117360     87        D      True
..   ...  ...     ...    ...      ...       ...
975  976   46  128410     53        D      True
976  977   39  103195     82        A      True
977  978   32  142222     80        A      True
989  990   34  143698     45        A      True
998  999   41  106016     88        A     False

[225 rows x 6 columns]

In [7]:
import pandas as pd

df = pd.read_csv("csv_files/employees_data.csv")
filtered_df = df[(df['salary'] >= 100000) & (df['category'].isin(['A', 'D']))]
filtered_df.loc[df['category'] == 'A', 'category'] = 'E'

print(filtered_df)

      id  age  salary  score category  on_leave
0      1   18  101071     70        D     False
3      4   57  136213      9        D     False
13    14   19  138137     64        E     False
16    17   41  140302      2        D      True
19    20   55  117360     87        D      True
..   ...  ...     ...    ...      ...       ...
975  976   46  128410     53        D      True
976  977   39  103195     82        E      True
977  978   32  142222     80        E      True
989  990   34  143698     45        E      True
998  999   41  106016     88        E     False

[225 rows x 6 columns]

In [1]:
from sqlalchemy import create_engine, text

engine = create_engine('mysql+pymysql://root@localhost:3306/fdc_dm?charset=utf8')
connection = engine.connect()
result = connection.execute(text("UPDATE employees SET category = 'E' WHERE salary >= 100000 AND category IN ('A', 'D');"))
connection.commit()
# INSERT INTO employees (id, salary, ...) VALUES (101, 10000, ...);
# DELETE FROM employees WHERE salary <= 1000;