In [2]:
from sqlalchemy import create_engine
import pandas as pd

# MySQL 연결 문자열: 'mysql+pymysql://{user}:{pw}@{host}:{port}/{db}'
engine = create_engine('mysql+pymysql://root@localhost:3306/fdc_dm?charset=utf8')

# 데이터베이스에 연결
connection = engine.connect()
query = """
SELECT 
  'Alice' AS Name, 30 AS Age, 'A' AS Category
UNION ALL
SELECT 
  'Bob', 25, 'B'
UNION ALL
SELECT 
  'Charlie', 35, 'C'
  UNION ALL
SELECT 
  'Hello', 55, 'A';
"""
df = pd.read_sql(query, connection)

# 데이터프레임 출력
print(df)

      Name  Age Category
0    Alice   30        A
1      Bob   25        B
2  Charlie   35        C
3    Hello   55        A