In [2]:
import pandas as pd

df = pd.read_csv("csv_files/combined_customers.csv")
df.groupby("age")["customer_id"].count()

age
18.0     5
19.0    10
20.0     7
21.0    13
22.0    11
23.0    11
24.0    10
25.0     9
26.0     9
27.0    10
28.0    11
29.0    10
30.0     4
31.0    11
32.0     4
33.0     3
34.0    11
35.0     2
36.0    11
37.0    10
38.0     6
39.0     7
40.0     8
41.0     8
42.0     7
43.0    14
44.0     9
45.0     8
46.0    10
47.0    12
48.0    14
49.0     5
50.0     9
51.0     6
52.0    13
53.0    14
54.0    10
55.0     5
56.0     8
57.0    13
58.0     7
59.0    15
60.0     7
61.0    10
62.0     8
63.0    10
64.0     8
65.0     7
66.0     9
67.0     5
68.0    14
69.0    10
70.0    10
Name: customer_id, dtype: int64

In [3]:
import pandas as pd

df = pd.read_csv("csv_files/combined_customers.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   customer_id  500 non-null    int64
 1   name         500 non-null    object
 2   age          478 non-null    float64
 3   email        478 non-null    object
 4   join_date    500 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 19.7+ KB

In [5]:
import pandas as pd

df = pd.read_csv("csv_files/combined_customers.csv")
df["age"].median()

45.5

In [6]:
import pandas as pd

df = pd.read_csv("csv_files/combined_customers.csv")
df["age"].max()

70.0

In [7]:
import pandas as pd

df = pd.read_csv("csv_files/combined_customers.csv")
df["age"].min()

18.0

In [4]:
import pandas as pd

df = pd.read_csv("csv_files/combined_customers.csv")
df["age"].mean()

44.47280334728033

In [11]:
import pandas as pd

df = pd.read_csv("csv_files/combined_customers.csv")
df.drop(labels="age", axis=1, inplace=True)  # inplace
df.head()

   customer_id       name                  email                   join_date
0            1  Customer1  customer1@example.com  2023-01-27 06:52:22.275679
1            2  Customer2  customer2@example.com  2023-07-15 06:52:22.275698
2            3  Customer3  customer3@example.com  2023-01-24 06:52:22.275704
3            4  Customer4  customer4@example.com  2023-03-25 06:52:22.275709
4            5  Customer5  customer5@example.com  2023-03-25 06:52:22.275713

In [14]:
import pandas as pd

df = pd.read_csv("csv_files/combined_customers.csv")
df.head()
df["age"].fillna(0)

0       0.0
1       0.0
2       0.0
3       0.0
4       0.0
       ...
495    54.0
496    57.0
497    68.0
498    29.0
499    57.0
Name: age, Length: 500, dtype: float64

In [20]:
import pandas as pd

df = pd.read_csv("csv_files/combined_customers.csv")
df.head()
df.isnull()

     customer_id   name    age  email  join_date
0          False  False   True  False      False
1          False  False   True  False      False
2          False  False   True  False      False
3          False  False   True  False      False
4          False  False   True  False      False
..           ...    ...    ...    ...        ...
495        False  False  False  False      False
496        False  False  False  False      False
497        False  False  False  False      False
498        False  False  False  False      False
499        False  False  False  False      False

[500 rows x 5 columns]

In [23]:
import pandas as pd
import numpy as np

df = pd.read_csv("csv_files/combined_customers.csv")

def add_string(a):
    return f"{a}_패스트캠퍼스"
    
df["customer_id"].apply(add_string)

0        1_패스트캠퍼스
1        2_패스트캠퍼스
2        3_패스트캠퍼스
3        4_패스트캠퍼스
4        5_패스트캠퍼스
          ...
495    396_패스트캠퍼스
496    397_패스트캠퍼스
497    398_패스트캠퍼스
498    399_패스트캠퍼스
499    400_패스트캠퍼스
Name: customer_id, Length: 500, dtype: object