In [1]:
import pandas as pd

def doubling_age(num):
    return num * 2

df = pd.read_csv("csv_files/combined_customers.csv")
df["age"] = df["age"].apply(doubling_age)
print(df)

     customer_id         name    age                    email  \
0              1    Customer1    NaN    customer1@example.com
1              2    Customer2    NaN    customer2@example.com
2              3    Customer3    NaN    customer3@example.com
3              4    Customer4    NaN    customer4@example.com
4              5    Customer5    NaN    customer5@example.com
..           ...          ...    ...                      ...
495          396  Customer396  108.0  customer396@example.com
496          397  Customer397  114.0  customer397@example.com
497          398  Customer398  136.0  customer398@example.com
498          399  Customer399   58.0  customer399@example.com
499          400  Customer400  114.0  customer400@example.com

                      join_date
0    2023-01-27 06:52:22.275679
1    2023-07-15 06:52:22.275698
2    2023-01-24 06:52:22.275704
3    2023-03-25 06:52:22.275709
4    2023-03-25 06:52:22.275713
..                          ...
495  2023-02-09 06:54:12.151607
496  2023-03-25 06:54:12.151613
497  2023-02-19 06:54:12.151618
498  2023-07-18 06:54:12.151624
499  2023-01-22 06:54:12.151629

[500 rows x 5 columns]

/var/folders/dg/k946k57108n2bklvf_jw_3y80000gq/T/ipykernel_90854/1368723007.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
import pandas as pd

def doubling_age(num):
    return num * 2

df = pd.read_csv("csv_files/combined_customers.csv")
df["age"] = df["age"].apply(lambda x: x * 2)
print(df)

     customer_id         name    age                    email  \
0              1    Customer1    NaN    customer1@example.com
1              2    Customer2    NaN    customer2@example.com
2              3    Customer3    NaN    customer3@example.com
3              4    Customer4    NaN    customer4@example.com
4              5    Customer5    NaN    customer5@example.com
..           ...          ...    ...                      ...
495          396  Customer396  108.0  customer396@example.com
496          397  Customer397  114.0  customer397@example.com
497          398  Customer398  136.0  customer398@example.com
498          399  Customer399   58.0  customer399@example.com
499          400  Customer400  114.0  customer400@example.com

                      join_date
0    2023-01-27 06:52:22.275679
1    2023-07-15 06:52:22.275698
2    2023-01-24 06:52:22.275704
3    2023-03-25 06:52:22.275709
4    2023-03-25 06:52:22.275713
..                          ...
495  2023-02-09 06:54:12.151607
496  2023-03-25 06:54:12.151613
497  2023-02-19 06:54:12.151618
498  2023-07-18 06:54:12.151624
499  2023-01-22 06:54:12.151629

[500 rows x 5 columns]